<<<<<<< HEAD
%h1 New collection

= render 'form'

= link_to 'Back', collections_path
=======
%h1 Новая коллекция

= render 'form'

= link_to 'Назад', collections_path
>>>>>>> 3b08d44ef54a364c95177681c24fb1a4794d5706
