-# nested_start
.col-md-6
  %div{class: 'panel panel-'+ (i.kind_of?(Integer) ? 'success' : 'info')}
    .panel-heading
      Коллекция
      = i
      %span.toright
        -# Кнопка для удаления связи роль-пользователь. См. role_users_helper
        = link_to_remove_collection(fr)
      .clearfix
    .panel-body
      .row
        .col-md-6
          .form-group
            = fr.label :id
            = fr.select(:id, 
             options_for_select(collection_options), 
             {}, class: 'form-control')


-# nested_finish

