<<<<<<< HEAD
%h1 New exhibit

= render 'form'

= link_to 'Back', exhibits_path
=======
%h1 Новый экспонат

= render 'form'

= link_to 'Назад', exhibits_path
>>>>>>> 3b08d44ef54a364c95177681c24fb1a4794d5706
