.center
  %h1 Добро пожаловать!
  %h4 Это внутренняя информационная система музея. 
  %h5 Пожалуйста, зарегистрируйтесь и обратитесь к администратору для получения доступа. Если вы не являетесь сотрудником музея, то можете смело покидать данную страницу.
